In [127]:
import pandas as pd
import re
import numpy as np

#### 1.Read the csv in a data_frame

In [128]:
## reading the Csv file using the function read csv

In [129]:
data = pd.read_csv("RR-DPL-AU2 - Book.csv")

In [130]:
data

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

### 2.Removing the columns from the data_frame

In [131]:
### Removing the columns using drop function

In [132]:
data.drop(columns=['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks'], inplace=True)

In [133]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

### 3.Check the content of the column- 'Date of Publicationâ€™ and define a function to clean the value

In [134]:
data['Date of Publication']

0       1879 [1878]
1              1868
2              1869
3              1851
4              1857
           ...
8282           1838
8283       1831, 32
8284      [1806]-22
8285           1834
8286        1834-43
Name: Date of Publication, Length: 8287, dtype: object

In [135]:
### using regex pattern to clean the values in Date of publication-- for this I am importing the module import re
### patter '\b(\d{4})\b'  is used to match exactly four digits in the date of publication column

In [136]:
pattern= r'\b(\d{4})\b'
data['Date of Publication'] = data['Date of Publication'].str.extract(pattern)

In [137]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

In [138]:
## finding the missing values in date of publication column

In [139]:
data['Date of Publication'].isnull().sum()

184

In [140]:
data['Date of Publication'].value_counts()

Date of Publication
1897    207
1896    190
1891    162
1898    162
1893    158
       ...
1700      1
1658      1
1632      1
1602      1
1708      1
Name: count, Length: 255, dtype: int64

In [141]:
## filling with most common value

In [142]:
data.dropna(subset=['Date of Publication'],inplace=True)

In [143]:
data['Date of Publication'].isnull().sum()

0

### 4. Check the content of the column- ' Authorâ€™ and define a function to clean the value. And split the name to first name and last name

In [144]:
## splitting the Author column to First name and last name using split and assignig n= 1 it will split into 2 columns 
## expand function used to create separate column in dataframe.

In [145]:
data[['Author_First Name', 'Author_Last Name']] = data['Author'].str.split(n=1, expand=True)

In [146]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,A.,A.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,"A.,",A. A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,"A.,",A. A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,"A.,",E. S.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,"A.,",E. S.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,"GIDDY,","afterwards GILBERT, Davies."
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,"GLOVER,",Stephen - of Derby
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,"LYSONS,","Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S"
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,"Mackenzie,",E. (Eneas)
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

In [147]:
## using rstrip to clean the characters., in the first name column

In [148]:
data['Author_First Name']=data['Author_First Name'].str.rstrip('.,')

In [149]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,A,A.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,"afterwards GILBERT, Davies."
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen - of Derby
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,"Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S"
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E. (Eneas)
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

In [150]:
## using the split function to split the last name column and inside the function assignig '-' to split the text from '-' and expanding the texts

In [151]:
df = data['Author_Last Name'].str.split('-', expand=True)

In [152]:
df

,0,1,2,3,4,5,6,7,8
0,A.,None,None,None,None,None,None,None,None
1,A. A.,None,None,None,None,None,None,None,None
2,A. A.,None,None,None,None,None,None,None,None
3,E. S.,None,None,None,None,None,None,None,None
4,E. S.,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
8282,"afterwards GILBERT, Davies.",None,None,None,None,None,None,None,None
8283,Stephen,of Derby,None,None,None,None,None,None,None
8284,Daniel,"M.A., F.R.S., and LYSONS (Samuel) F.R.S",None,None,None,None,None,None,None
8285,E. (Eneas),None,None,None,None,None,None,None,None
8286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
## Keeping the first column and dropping all other columns in order to get the last name

In [154]:
df.drop(columns=[1,2,3,4,5,6,7,8], inplace=True)

In [155]:
df

                                0
0                              A.
1                           A. A.
2                           A. A.
3                           E. S.
4                           E. S.
...                           ...
8282  afterwards GILBERT, Davies.
8283                     Stephen
8284                      Daniel
8285                   E. (Eneas)
8286                          NaN

[8103 rows x 1 columns]

In [156]:
data['Author_Last Name'] = df

In [157]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,A,A.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,"afterwards GILBERT, Davies."
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E. (Eneas)
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

In [158]:
## using rstrip to remove the . from last name
## replacing the 'E. (Eneas)','afterwards GILBERT, Davies'

In [159]:
data['Author_Last Name']=data['Author_Last Name'].str.rstrip('.')

data['Author_Last Name']=data['Author_Last Name'].str.replace('E. (Eneas)', 'E')
data['Author_Last Name']=data['Author_Last Name'].str.replace('afterwards GILBERT, Davies', 'Gilbert')

In [160]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,A,A
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,Gilbert
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

In [161]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,A,A
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,Gilbert
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

In [162]:
## droping the Author column using drop function

In [163]:
data.drop(columns=['Author'], inplace=True)

In [164]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,http://www.flickr.com/photos/britishlibrary/ta...,A,A
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,Gilbert
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

In [165]:
data[['Author_First Name', 'Author_Last Name']].isnull().sum()

Author_First Name    1726
Author_Last Name     1792
dtype: int64

In [166]:
## filling the null values in Author first and last name column with value 'Missing'

In [167]:
data['Author_First Name'] = data['Author_First Name'].fillna('Missing')
data['Author_Last Name'] = data['Author_Last Name'].fillna('Missing')
data[['Author_First Name', 'Author_Last Name']].isnull().sum()

Author_First Name    0
Author_Last Name     0
dtype: int64

### 5.Check the content of the column- â€˜Titleâ€™ and define a function to clean the value

In [168]:
## using regex pattern to capture from the start of the string until '.'

In [169]:
pattern = r'^([^.]*)'
data['Title'] = data['Title'].str.extract(pattern)
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes,http://www.flickr.com/photos/britishlibrary/ta...,A,A
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,Gilbert
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica,http://www.flickr.com/photos/britishlibrary/ta...,Missing,Missing

In [170]:
## using the lstrip to remove  [ from the start of the string in title column

In [171]:
data['Title'] = data['Title'].str.lstrip('[')
data['Title']

0                                           Walter Forbes
1                                           All for Greed
2                                        Love the Avenger
3       Welsh Sketches, chiefly ecclesiastical, to the...
4           The World in which I live, and my place in it
                              ...
8282    The Parochial History of Cornwall, founded on,...
8283    The History and Gazetteer of the County of Der...
8284    Magna Britannia; being a concise topographical...
8285    An historical, topographical and descriptive v...
8286              Collectanea Topographica et Genealogica
Name: Title, Length: 8103, dtype: object

### 6.Check the content of the column- â€˜Place of Publicationâ€™ and define a function to clean the value

In [172]:
## Using the regex pattern to extarct the text from place of publication column. 
## This pattern matches any character thai is not a letter or digit or whitespace. It will remove any special characters

In [173]:
data['Place of Publication'] = data['Place of Publication'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
data['Place of Publication'] = data['Place of Publication'].str.split().str[0]
data['Place of Publication']

0          London
1          London
2          London
3          London
4          London
          ...
8282       London
8283        Derby
8284       London
8285    Newcastle
8286       London
Name: Place of Publication, Length: 8103, dtype: object

In [174]:
## checking place of publication has null values

In [175]:
data['Place of Publication'].isnull().sum()

61

In [176]:
## filling null values with 'unknown'

In [177]:
data['Place of Publication']= data['Place of Publication'].fillna('Unknown')

In [178]:
data['Place of Publication'].isnull().sum()

0

In [179]:
data

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes,http://www.flickr.com/photos/britishlibrary/ta...,A,A
1,216,London,1868,Virtue & Co.,All for Greed,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
4,480,London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,Gilbert
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica,http://www.flickr.com/photos/britishlibrary/ta...,Missing,Missing

In [180]:
## dropping the publisher column

In [181]:
data.drop('Publisher', inplace = True, axis = 1)

In [182]:
data

,Identifier,Place of Publication,Date of Publication,Title,Flickr URL,Author_First Name,Author_Last Name
0,206,London,1879,Walter Forbes,http://www.flickr.com/photos/britishlibrary/ta...,A,A
1,216,London,1868,All for Greed,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
2,218,London,1869,Love the Avenger,http://www.flickr.com/photos/britishlibrary/ta...,A,A. A
3,472,London,1851,"Welsh Sketches, chiefly ecclesiastical, to the...",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
4,480,London,1857,"The World in which I live, and my place in it",http://www.flickr.com/photos/britishlibrary/ta...,A,E. S
...,...,...,...,...,...,...,...
8282,4158088,London,1838,"The Parochial History of Cornwall, founded on,...",http://www.flickr.com/photos/britishlibrary/ta...,GIDDY,Gilbert
8283,4158128,Derby,1831,The History and Gazetteer of the County of Der...,http://www.flickr.com/photos/britishlibrary/ta...,GLOVER,Stephen
8284,4159563,London,1806,Magna Britannia; being a concise topographical...,http://www.flickr.com/photos/britishlibrary/ta...,LYSONS,Daniel
8285,4159587,Newcastle,1834,"An historical, topographical and descriptive v...",http://www.flickr.com/photos/britishlibrary/ta...,Mackenzie,E
8286,4160339,London,1834,Collectanea Topographica et Genealogica,http://www.flickr.com/photos/britishlibrary/ta...,Missing,Missing

In [183]:
data.isnull().sum()

Identifier              0
Place of Publication    0
Date of Publication     0
Title                   0
Flickr URL              0
Author_First Name       0
Author_Last Name        0
dtype: int64